---
layout: splash
classes:
  - landing
  - dark-theme
header:
  image: /assets/images/Splash.jpg
---

<b>Ninja Thumbs</b> is a small independent game studio based in Auckland, New Zealand.   We started off doing game jams, but soon realized that we wanted to take on a bigger project together.  <a href="/grabity/">Grabity</a> is a side project that quickly grew into a serious undertaking when we realized we had a really fun prototype on our hands.

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}