{% if page.author_profile or layout.author_profile or page.sidebar or page.twitter_feed %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | absolute_url }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  {% if page.twitter_feed or layout.twitter_feed %}{% include twitter-feed.html %}{% endif %}

  <iframe src="https://discordapp.com/widget?id=378274836910178314&theme=dark" width="100%" height="500" allowtransparency="true" frameborder="0"></iframe>

  </div>
{% endif %}